.upper-section {
    text-align: center;
    padding: 50px;
    margin-top: 2rem;
    background-color: #4679e9;
    color: white;
}

p {
    /* color: white; */
    font-weight: bold
}

.labels,
.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-main {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin: 0 5rem 0 5rem;

}

form,
.contact-info {
    color: #f8f3f3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    border: 2px solid #4679e9;
    border-radius: 10px;
    /* margin: 2rem auto auto 1rem; */
}

textarea {
    width: 100%;
}

.labels {
    align-items: flex-end;
    justify-content: flex-start;
}

.inputs {
    align-items: flex-start;
    justify-content: flex-start;
}

.labels label {
    font-size: 1.2rem;
    color: #333;
    margin: 0.5rem;
}

.inputs input {
    padding: 0.2rem;
    margin: 0.5rem;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

button {
    background-color: #4679e9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
}

.form-header {
    background-color: #4679e9;
    padding: 1rem;
}


.main-section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #f5f5f5;
    margin-top: 1.5rem;
    gap: 1rem;
    color: #333;
}

/* contact Information */

.contact-info{
    color:#333;
    padding: 2rem;
}
.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    padding: 0.5rem;
}
.contact-info ul li:hover{
border:2px solid #4679e9;
border-radius: 7px;

}



.contact-info ul a {
    text-decoration: none;
    color: #333;
}

.contact-info ul li a:hover {
    color: #4679e9;
    border:2px ;
}

@media (max-width: 768px) {
    .contact-info {
        flex-direction: column;
    }
}